* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main screen */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
}

/* buttons and the chart */

.buttons > div {
  margin: 20px 0;
  z-index: 1;
}

button {
  width: 100px;
  margin: 5px;
  background-color: transparent;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 2px;
}

button:hover,
button:focus {
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  background-color: rgba(0, 0, 0, 0.623);
  color: #fff;
}

.countries {
  width: 10vw;
  height: 20vh;
  overflow: visible;
  overflow-x: hidden;
  margin: auto;
  z-index: 1;
}

.countries p {
  cursor: pointer;
  padding: 5px;
}

.countries p:hover {
  background: rgba(128, 128, 128, 0.76);
  color: #fff;
}

.chart-container {
  z-index: 1;
}

/* info on specific country */
/* hidden until activated by script */
.country-info {
  display: flex;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  padding: 50px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.country-info > div {
  border: 1px solid black;
  height: 100px;
  width: 150px;
  padding: 5px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-info h1 {
  position: absolute;
  top: 30vh;
  right: 10vw;
}

/* for mobile - max 830px */

@media (max-width: 830px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countries {
    height: 200px;
    width: 100%;
  }

  .country-info {
    right: 0;
    top: 600px;
    display: block;
  }

  .country-info h1 {
    top: -5vh;
    left: 0;
  }

  .country-info > div {
    margin: 5px auto;
  }
}
