/* nav */
#nav-container {
    height: auto;
}

#nav-container img {
    display: none;
}

#nav-container ol li {
    margin-left: auto;
}

/* showcase */
#showcase .showcase-intro {
    margin: auto 3vw;
}


/* about me */

#about-me .about-intro {
    flex-direction: column;
}

#about-me .about-intro img {
    display: none;
}

#about-me .i-container {
    margin: 2vh auto;
}

/* talents */

#talents .description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10vh;
}

/* projects */

#projects .projects-showcase {
    flex-direction: column; 
}

#projects .projects-showcase > div {
    margin-top: 3vh;
}

#projects img {
    margin-top: 2vh;
    width: 35vw;
    height: 15vh;
}

#projects .btn {
    width: 40vw;
}

/* contact */

#contact form {
    margin: 5vh 10%;
}

#contact::before {
    left: 5%;
    right: 5%;
}